# coding: utf-8

"""
    sbml4j API

    This is the api for the SBML4j Service   # noqa: E501

    OpenAPI spec version: 1.1.5
    Contact: thorsten.tiede@uni-tuebingen.de
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from pysbml4j.api_client import ApiClient


class MydrugApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_my_drug_relations(self, user, uuid, my_drug_url, **kwargs):  # noqa: E501
        """Provide a URL to a MyDrug Neo4j Database and add Drug nodes and Drug-targets->Gene Relationships to a network  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_my_drug_relations(user, uuid, my_drug_url, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user: The user which requests the creation (required)
        :param str uuid: The UUID of the network that the myDrug Data should be added to. A copy will be created. (required)
        :param str my_drug_url: A base url of a MyDrug Database including the port number (required)
        :return: NetworkInventoryItem
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_my_drug_relations_with_http_info(user, uuid, my_drug_url, **kwargs)  # noqa: E501
        else:
            (data) = self.add_my_drug_relations_with_http_info(user, uuid, my_drug_url, **kwargs)  # noqa: E501
            return data

    def add_my_drug_relations_with_http_info(self, user, uuid, my_drug_url, **kwargs):  # noqa: E501
        """Provide a URL to a MyDrug Neo4j Database and add Drug nodes and Drug-targets->Gene Relationships to a network  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_my_drug_relations_with_http_info(user, uuid, my_drug_url, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user: The user which requests the creation (required)
        :param str uuid: The UUID of the network that the myDrug Data should be added to. A copy will be created. (required)
        :param str my_drug_url: A base url of a MyDrug Database including the port number (required)
        :return: NetworkInventoryItem
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user', 'uuid', 'my_drug_url']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_my_drug_relations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'user' is set
        if ('user' not in params or
                params['user'] is None):
            raise ValueError("Missing the required parameter `user` when calling `add_my_drug_relations`")  # noqa: E501
        # verify the required parameter 'uuid' is set
        if ('uuid' not in params or
                params['uuid'] is None):
            raise ValueError("Missing the required parameter `uuid` when calling `add_my_drug_relations`")  # noqa: E501
        # verify the required parameter 'my_drug_url' is set
        if ('my_drug_url' not in params or
                params['my_drug_url'] is None):
            raise ValueError("Missing the required parameter `my_drug_url` when calling `add_my_drug_relations`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['UUID'] = params['uuid']  # noqa: E501

        query_params = []
        if 'my_drug_url' in params:
            query_params.append(('myDrugURL', params['my_drug_url']))  # noqa: E501

        header_params = {}
        if 'user' in params:
            header_params['user'] = params['user']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/networks/{UUID}/myDrug', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NetworkInventoryItem',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
